.cart {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80vw;
}

.title {
    color: #444B58;
    line-height: 56px;
    text-align:left;
    margin-bottom: 50px;
}

.cartWrapper {
    width: 80vw;
    display: flex;
    flex-direction: row;
}

.products {
    width: 65%;
    padding: 20px 30px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.noElement {
    display: flex;
    justify-content: center;
    color: #B2B5BB;
    font-size: 1.5rem;
    font-weight: 600;
}