.myBtnIcon {
    border: none;
    background-color: #F14F4F;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
    &:hover {
        background-color: #8C2828;
    }

    &:disabled {
        background-color: #F8AFAF;
    }
}

.myBtnText {
    border: none;
    background-color: #F14F4F;
    min-width: 148px;
    min-height: 62px;
    padding: 20px 50px;
    border-radius: 4px;
    gap: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    color: white;

    &:hover {
        background-color: #8C2828;
    }

    &:disabled {
        background-color: #F8AFAF;
    }
}