.catalog {
    margin: 50px auto;
    display: block;
    width: 80vw;
    color: #444B58;
}

.catalogTitle {
    line-height: 56px;
    margin-bottom: 40px;
}

.catalogInput {
    margin-bottom: 50px;
}

.catalogBtn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.myBtn {
    border: none;
    background-color: #F14F4F;
    min-width: 148px;
    min-height: 62px;
    padding: 20px 50px;
    border-radius: 4px;
    gap: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    color: white;

    &:hover {
        background-color: #8C2828;
    }

    &:disabled {
        background-color: #F8AFAF;
    }
}

.noElements {
    display: flex;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 20px;
    width: 80vw;
}

a {
    text-decoration: none;
}

/* ----------MEDIA------------ */

@media (min-width: 992px) and (max-width: 1400px) {
    .content{
        grid-template-columns: repeat(2, 23rem);
        justify-content: center;
        gap: 100px;
    }
}

@media (min-width: 841px) and (max-width: 1065px) {
    .content{
        grid-template-columns: repeat(2, 18rem);
        justify-content: center;
        gap: 50px;
    }
}

@media (max-width: 840px){
    .content{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media (max-width: 450px){
    .content{
        grid-template-columns: 1fr;
        max-width: 20rem;
        place-content: center;
    }
}