.catalog {
    margin: 40px auto;
    width: 60vw;
}

.title {
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 20px;
}

.line {
    color: white;
    background-color: white;
    width: 60vw;
    height: 1px;
    margin-bottom: 20px;
}