.input {
    width: 80vw;
    padding: 10px;
    padding-left: 1.25rem;
    max-height: 4.25vw;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    background-color: #F6F6F6;
    color: #444B58;
    &::placeholder {
        color: #B2B5BB;
        opacity: 90%;
    }
}