.s{
    font-size: 1rem;
}

.m{
    font-size:1.125rem;
}

.l{
    font-size:1.25rem;
}

.xl{
    font-size:1.5rem;
}

.xxl{
    font-size:2.25rem;
}

.regular {
    font-weight:400;
}

.medium{
    font-weight:500;
}

.semiBold{
    font-weight:600;
}