.text{
    padding:20px 50px;
}

.icon {
    padding: 25px;
}

.small{
    height: 62px;
}

.big{
    padding:0 60px;
    height: 70px;
}

.icon.small{
    width: 50px;
    height: 50px;
}

.icon.big{
    width: 60px;
    height: 60px;
}

.myBtnIcon {
    border: none;
    background-color: #F14F4F;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: #8C2828;
    }
}

.myBtnIconDisabled {
    border: none;
    background-color: #F8AFAF;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.myBtnText {
    border: none;
    background-color: #F14F4F;
    min-width: 148px;
    min-height: 62px;
    padding: 20px 50px;
    border-radius: 4px;
    gap: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    position: relative;

    &:hover {
        background-color: #8C2828;
    }
}

.myBtnTextDisabled {
    border: none;
    background-color: #F8AFAF;
    min-width: 148px;
    min-height: 62px;
    padding: 20px 50px;
    border-radius: 4px;
    gap: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    color: white;
}

.loader {
    position: absolute;
    bottom: 0.5rem;
    right: 3rem;
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #484283;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }  