.s{
    font-size:0.875rem;
}

.m{
    font-size:1rem;
}

.l{
    font-size: 1.25rem;
}

.xl{
    font-size:1.875rem;
}

.xxl{
    font-size:2.25rem;
}

.regular{
    font-weight: 400;
}

.semiBold{
    font-weight:500;
}

.Bold{
    font-weight:600;
}