@font-face {
    font-family: 'Jost';
    font-weight: bold;
    font-style: normal;
    src: url(./fonts/Jost-Bold.ttf);
}

@font-face {
    font-family: 'Jost';
    font-weight: normal;
    font-style: normal;
    src: url(./fonts/Jost-Regular.ttf);
}