.price {
    width: 30%;
    margin-left: 60px;
}

.totalCount, .discount, .totalPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totalCount {
    margin-bottom: 15px;
}

.countText {
    color: #B2B5BB;
    line-height: 30px;
}

.countCost {
    color: #444B58;
    line-height: 30px;
}

.discountText {
    color: #B2B5BB;
    line-height: 30px;
}

.discountCost {
    color: #444B58;
    line-height: 30px;
}

.priceLine {
    color: #E5E5E5;
    background-color: #E5E5E5;
    height: 1px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
}

.priceText {
    color: #B2B5BB;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.priceCost {
    color: #444B58;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}