.catalog {
    margin: 0 auto;
    width: 80vw;
    position: relative;
}

.line {
    color: white;
    background-color: #fff;
    height: 1px;
    width: 80vw;
}

.title {
    margin-top: 9%;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    z-index: 2;
}

.text {
    margin-top: 3%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    z-index: 2;
}

.btn {
    position: relative;
    margin-top: 3%;
    z-index: 2;
}

.btnLink {
    text-decoration: none;
    color: #fff;
}

.textBack {
    margin: 0;
    width: 60vw;
    position: absolute;
    top: 8vw;
    left: 3vw;
    font-weight: bold;
    font-size: 200px;
    line-height: 300px;
    text-align: center;
    opacity: 12%;
    z-index: 1;
}

/* ----------MEDIA------------ */
@media (min-width: 2000px) and (max-width: 2700px) {
    .title {
        margin-top: 3%;
    }
    .textBack {
        top: 5vw;
        left: 5vw;
    }
}

@media (min-width: 992px) and (max-width: 1249px) {
    .textBack {
        font-size: 150px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .textBack {
        font-size: 100px;
    }
}


@media (min-width: 320px) and (max-width: 768px) {
    .textBack {
        font-size: 50px;
        top: -4rem;
    }

    .title {
        margin-top: 5%;
        font-size: 17px;
        line-height: 30px;
    }

    .text {
        margin-top: 1%;
        font-size: 10px;
        line-height: 18px;
    }
}