.footer {
    width: 100vw;
    height: 90px;
    border: none;
    background-color: #444B58;
}

.container {
    margin: 0 auto;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 164px;
    height: 44px;
    font-size: 30px;
    line-height: 44px;
    font-weight: 700;
}

.btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.btn, .logo {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.btn:not(:last-child) {
    margin-right: 40px;
}

.btn:hover {
    text-decoration: underline;
    opacity: 80%;
}