.faqContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.faq {
    max-height: 100px;
    transition: all 0.6s;
}

.faq.active {
    max-height: 130px;
    margin-bottom: 30px;
    transition: all 0.6s;
}

.question {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.btn {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 2;
}

.btn::after,
.btn::before {
    position: absolute;
    transition: all 0.3s ease 0s;
    background-color: white;
    height: 2px;
    width: 25px;
}

.btn::after,
.btn::before {
    content: '';
}

.btn::after {
    top: 50%;
    height: 3px;
}

.btn::before {
    top: 50%;
    transform: rotate(90deg) translate(0, 0);
    height: 3px;
}

.btn.active::after {
    transform: rotate(45deg) translate(0, 0);
}

.btn.active::before {
    transform: rotate(-45deg) translate(0, 0);
    height: 3px;
}

.answer {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: translateY(-60px);
    transition: all 0.6s;
}

.answer.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transform: translateY(0);
    transition: all 0.6s;
}

.line-after {
    color: white;
    background-color: white;
    width: 60vw;
    height: 1px;
    margin-bottom: 20px;
    transform: translateY(-60px);
    transition: all 0.6s;
}

.line-after.active {
    margin-bottom: 20px;
    transform: translateY(0);
    transition: all 0.6s;
}

/* ----------MEDIA------------ */

@media (min-width: 992px) and (max-width: 1288px) {
    .line-after {
        transform: translateY(-95px);
    }
}

@media (min-width: 320px) and (max-width: 1288px) {
    .faq {
        max-height: 90px;
    }

    .line-after.active {
        transform: translateY(-10px);
    }
}

@media (min-width: 877px) and (max-width: 991px) {
    .line-after {
        transform: translateY(-95px);
    }

    .faq.active {
        margin-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 876px) {
    .line-after {
        transform: translateY(-120px);
    }

    .faq.active {
        margin-bottom: 60px;
    }
}

@media (min-width: 658px) and (max-width: 767px) {
    .line-after {
        transform: translateY(-120px);
    }

    .faq.active {
        margin-bottom: 80px;
    }
}

@media (min-width: 621px) and (max-width: 657px) {
    .line-after {
        transform: translateY(-150px);
    }

    .faq.active {
        margin-bottom: 80px;
    }
}

@media (min-width: 493px) and (max-width: 620px) {
    .line-after {
        transform: translateY(-90px);
    }
}

@media (min-width: 320px) and (max-width: 620px) {

    .faq.active {
        margin-bottom: 60px;
    }

    .question {
        font-size: 16px;
        line-height: 20px;
        margin-right: 40px;
    }

    .answer {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (min-width: 415px) and (max-width: 492px) {
    .line-after {
        transform: translateY(-105px);
    }
}

@media (min-width: 334px) and (max-width: 414px) {
    .line-after {
        transform: translateY(-120px);
    }

    .faq {
        max-height: 90px;
    }
}

@media (min-width: 320px) and (max-width: 333px) {
    .line-after {
        transform: translateY(-140px);
    }

    .faq.active {
        margin-bottom: 90px;
    }
}